/** 
 *
 *  @author YanLiang Li
 */
body {
    background-image: url("yellowback.jpg");
}

#slideshow_title{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #FFFFFF;
}

#slideshow_image{
    height: 500px;
    border: 3px solid #FFAD2F;
}

#slideshow_caption{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
}

#previousbt{
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	border: 3px solid #FFAD2F;
        height: 20px;
        width: 20px;
        margin-right: 30px;
        margin-left: 30px;
}
#playpausebt{
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	border: 3px solid #FFAD2F;
        height: 20px;
        width: 20px;
        margin-right: 30px;
        margin-left: 30px;
}
#nextbt{
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
	border: 3px solid #FFAD2F;
        height: 20px;
        width: 20px;
        margin-right: 30px;
        margin-left: 30px;
}
