/** 
 *  This CSS provides all the style settings for
 *  our JavaFX controls.
 *
 *  @author McKilla Gorilla & ____YanLiangLi_________
 */
.slide_show_work_space_hbox{
    -fx-background-color: #C4B043;
}
.caption_vbox{
    -fx-perferwidth: 400px;
}
.file_toolbar{
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-padding:1px;
    -fx-background-color: #FFC414;
    
}
.slide_show_edit_vbox {
    -fx-background-color: #FFC414;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.slide_edit_view{
    //-fx-background-color: #E1BE00;
    -fx-background-color: #BDC243;
        //#91918F;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.select_slide_view{ 
    //-fx-background-color: #BDC243;
    -fx-background-color: #E1BE00;
    -fx-border-color: #D7DF00;
    -fx-border-width: 3px;
}

.vertical_toolbar_button {
    -fx-padding: 20px;
    -fx-border-color: #8E8E8B;
    -fx-border-width: 1px;
}
.vertical_toolbar_button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 25, 0.0 , 0 , 1 );
    -fx-background-color: #91918F;
}
.horizontal_toolbar_button {
    -fx-padding: 15px;
    -fx-border-color: #8E8E8B;
    -fx-border-width: 1px;
}
.horizontal_toolbar_button:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-background-color: #91918F;
}
.my_label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
    -fx-font-weight: bold;
    -fx-padding: 5px;
    -fx-spacing: 5px;
}

.my_button{
    -fx-text-fill: #090F11;
    -fx-font-family: "Comic Sans MS", cursive, sans-serif;
    -fx-font-weight: bold;
    
}
.my_button:hover{
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-background-color: #91918F;
}

.viewer_toolbar_button {
    -fx-background-radius: 40.0;
    -fx-padding: 15px;
}

.my_border_pane {
    -fx-padding: 20px 20px 20px 20px;
    -fx-spacing: 50px;
}

.my_hbox{
    -fx-padding: 10;
    -fx-spacing: 30;
}

.my_vbox{
    -fx-padding: 10;
    -fx-spacing: 20;
}

.background_color{
    -fx-background-color: #BFB683;
}